* , *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    background-color: #333;
}

.sizer {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
}

.sizer label {
    color: #fff;
    font-family: sans-serif;
    font-size: 1.2rem;
}


input {
    border: none;
    outline: none;
    width: 100%;
    padding: .5rem .6rem;
    border-radius: .2rem;
    font-size: 1.2rem;
}

input:focus {
    border: 2px solid green;
}



.container {
    --w: 500;
    --h: 300;
    --bg: red;
    width: calc(var(--w) * 1px);
    background-color: var(--bg);
    height: calc(var(--h) * 1px);
    position: relative;
}

.show-size {
    position: absolute;
    color: #fff;
    top: -1.5rem;
    left: 0;
    font-size: .8rem;
    font-family: sans-serif;
}

button {
    border: none;
    outline: none;
    padding: .4rem .6rem;
    background: green;
    color: white;
    border-radius: .2rem;
    cursor: pointer;
}

